    # Ejercicio Nº 4
Con el siguiente fichero datos_seguros.csv contiene información de riesgo de clientes de un banco. Escribir un programa con los siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, mostrar las 10 primeras filas y las 10 últimas filas, verificar si tiene datos perdidos/nulos.
3. Extraer las 1000 primeras filas y almacenarlas en un contenedor.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/raw/datos_seguros.csv", sep=";")

In [3]:
df.shape

(45798, 17)

In [4]:
df.size

778566

In [5]:
df.columns

Index(['MES_T0', 'VENTA_SEGURO', 'NUM_TC_TOTAL_T2', 'SALDO_BCO_T2',
       'LINEA_BCO_T2', 'USO_LINEA_BCO_T2', 'Nro_CTa_Ahorro_Bco_T1',
       'Ahorro_Sldo_Bco_T1', 'monto_ope_t2', 'PROM_ANUAL_MTO_OPERA',
       'MAX_MTO_OPERA_Anual', 'Ratio_HospvsMtoTotal_t2', 'SEXO',
       'ANTIGUEDAD_MES', 'DEPARTAMENTO', 'SOW_BCO_T2', 'SOW_BCO_SEMESTRAL'],
      dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=45798, step=1)

In [7]:
df.dtypes

MES_T0                       int64
VENTA_SEGURO                 int64
NUM_TC_TOTAL_T2            float64
SALDO_BCO_T2               float64
LINEA_BCO_T2               float64
USO_LINEA_BCO_T2           float64
Nro_CTa_Ahorro_Bco_T1      float64
Ahorro_Sldo_Bco_T1         float64
monto_ope_t2               float64
PROM_ANUAL_MTO_OPERA       float64
MAX_MTO_OPERA_Anual        float64
Ratio_HospvsMtoTotal_t2    float64
SEXO                        object
ANTIGUEDAD_MES               int64
DEPARTAMENTO                object
SOW_BCO_T2                 float64
SOW_BCO_SEMESTRAL          float64
dtype: object

In [8]:
df.head(10)

,MES_T0,VENTA_SEGURO,NUM_TC_TOTAL_T2,SALDO_BCO_T2,LINEA_BCO_T2,USO_LINEA_BCO_T2,Nro_CTa_Ahorro_Bco_T1,Ahorro_Sldo_Bco_T1,monto_ope_t2,PROM_ANUAL_MTO_OPERA,MAX_MTO_OPERA_Anual,Ratio_HospvsMtoTotal_t2,SEXO,ANTIGUEDAD_MES,DEPARTAMENTO,SOW_BCO_T2,SOW_BCO_SEMESTRAL
0,201506,0,3.0,0.0,2300.0,0.000000,0.0,0.0,15.00,18.644444,52.80,NaN,M,58,LIMA,0.000000,0.000000
1,201506,0,2.0,3215.0,3500.0,0.918571,0.0,0.0,548.98,2632.020000,5709.24,NaN,M,69,JUNIN,0.816134,0.930867
2,201506,0,1.0,3169.0,5000.0,0.633800,0.0,0.0,0.00,4999.000000,4999.00,0.0,M,16,CALLAO,1.000000,1.000000
3,201506,1,1.0,6495.0,8450.0,0.768639,2.0,505.0,2137.94,4900.191666,11206.80,NaN,F,62,LIMA,0.413831,0.505504
4,201506,0,NaN,NaN,NaN,NaN,0.0,0.0,12.37,12.370000,12.37,NaN,F,5,AREQUIPA,0.000000,0.000000
5,201506,0,3.0,2373.0,9373.0,0.253174,0.0,0.0,411.86,1410.662727,5055.62,NaN,M,44,CALLAO,0.181633,0.677393
6,201506,0,2.0,0.0,0.0,0.000000,1.0,2662.0,46.00,218.393333,390.90,NaN,M,4,LIMA,0.000000,0.000000
7,201506,0,1.0,3023.0,16720.0,0.180801,0.0,0.0,2982.90,1721.769166,3137.70,0.0,M,136,LIMA,1.000000,1.000000
8,201506,0,1.0,1931.0,12500.0,0.154480,0.0,0.0,412.00,986.337500,2119.00,NaN,M,292,LIMA,0.278603,0.541839
9,201506,0,NaN,NaN,NaN,NaN,2.0,40718.0,1644.30,1581.335000,3565.14,NaN,F,49,AREQUIPA,0.000000,0.000000

In [9]:
df.tail(10)

,MES_T0,VENTA_SEGURO,NUM_TC_TOTAL_T2,SALDO_BCO_T2,LINEA_BCO_T2,USO_LINEA_BCO_T2,Nro_CTa_Ahorro_Bco_T1,Ahorro_Sldo_Bco_T1,monto_ope_t2,PROM_ANUAL_MTO_OPERA,MAX_MTO_OPERA_Anual,Ratio_HospvsMtoTotal_t2,SEXO,ANTIGUEDAD_MES,DEPARTAMENTO,SOW_BCO_T2,SOW_BCO_SEMESTRAL
45788,201505,0,4.0,0.0,0.0,0.0,0.0,0.0,1054.41,688.975000,1054.41,NaN,F,105,LIMA,0.0,0.0
45789,201505,0,1.0,0.0,0.0,0.0,2.0,8217.0,0.00,681.600000,1337.00,0.0,M,31,ANCASH,0.0,0.0
45790,201505,0,2.0,0.0,0.0,0.0,0.0,0.0,810.00,810.000000,810.00,NaN,M,226,LIMA,0.0,0.0
45791,201506,0,1.0,0.0,0.0,0.0,2.0,9261.0,4244.19,3466.162500,15419.30,0.0,F,204,UCAYALI,0.0,0.0
45792,201505,0,2.0,0.0,12000.0,0.0,2.0,804.0,277.20,237.600000,277.20,NaN,M,8,LA LIBERTAD,0.0,0.0
45793,201505,0,2.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,F,4,LIMA,0.0,0.0
45794,201505,0,NaN,NaN,NaN,NaN,2.0,6189.0,1314.10,1314.100000,1314.10,NaN,F,76,LA LIBERTAD,0.0,0.0
45795,201506,0,NaN,NaN,NaN,NaN,1.0,138.0,36.00,73.114285,220.00,NaN,F,20,LIMA,0.0,0.0
45796,201506,0,NaN,NaN,NaN,NaN,0.0,0.0,0.00,299.468750,830.00,0.0,M,23,PIURA,0.0,0.0
45797,201506,0,1.0,0.0,0.0,0.0,6.0,2762.0,0.00,780.000000,780.00,0.0,M,125,PASCO,0.0,0.0

In [10]:
df.isnull().any()

MES_T0                     False
VENTA_SEGURO               False
NUM_TC_TOTAL_T2             True
SALDO_BCO_T2                True
LINEA_BCO_T2                True
USO_LINEA_BCO_T2            True
Nro_CTa_Ahorro_Bco_T1       True
Ahorro_Sldo_Bco_T1          True
monto_ope_t2                True
PROM_ANUAL_MTO_OPERA        True
MAX_MTO_OPERA_Anual         True
Ratio_HospvsMtoTotal_t2     True
SEXO                       False
ANTIGUEDAD_MES             False
DEPARTAMENTO               False
SOW_BCO_T2                 False
SOW_BCO_SEMESTRAL          False
dtype: bool

In [12]:
primeras_filas = df.head(1000)
primeras_filas

,MES_T0,VENTA_SEGURO,NUM_TC_TOTAL_T2,SALDO_BCO_T2,LINEA_BCO_T2,USO_LINEA_BCO_T2,Nro_CTa_Ahorro_Bco_T1,Ahorro_Sldo_Bco_T1,monto_ope_t2,PROM_ANUAL_MTO_OPERA,MAX_MTO_OPERA_Anual,Ratio_HospvsMtoTotal_t2,SEXO,ANTIGUEDAD_MES,DEPARTAMENTO,SOW_BCO_T2,SOW_BCO_SEMESTRAL
0,201506,0,3.0,0.0,2300.0,0.000000,0.0,0.0,15.00,18.644444,52.80,NaN,M,58,LIMA,0.000000,0.000000
1,201506,0,2.0,3215.0,3500.0,0.918571,0.0,0.0,548.98,2632.020000,5709.24,NaN,M,69,JUNIN,0.816134,0.930867
2,201506,0,1.0,3169.0,5000.0,0.633800,0.0,0.0,0.00,4999.000000,4999.00,0.000000,M,16,CALLAO,1.000000,1.000000
3,201506,1,1.0,6495.0,8450.0,0.768639,2.0,505.0,2137.94,4900.191666,11206.80,NaN,F,62,LIMA,0.413831,0.505504
4,201506,0,NaN,NaN,NaN,NaN,0.0,0.0,12.37,12.370000,12.37,NaN,F,5,AREQUIPA,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,201506,0,1.0,4357.0,4600.0,0.947173,0.0,0.0,187.58,758.380833,1326.14,NaN,M,25,LIMA,0.194025,0.180906
996,201506,0,NaN,NaN,NaN,NaN,1.0,545.0,104.00,104.000000,104.00,1.000000,F,55,CUSCO,0.000000,0.000000
997,201506,0,NaN,NaN,NaN,NaN,0.0,0.0,414.64,243.107500,550.00,NaN,F,24,LIMA,1.000000,1.000000
998,201506,0,1.0,0.0,0.0,0.000000,0.0,0.0,NaN,NaN,NaN,0.000000,M,50,AREQUIPA,0.000000,0.000000
999,201506,0,4.0,0.0,0.0,0.000000,2.0,436.0,108.52,166.578333,626.52,0.202727,M,94,LA LIBERTAD,0.000000,0.000000