 # Ejercicio Nº 3
Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la siguiente tabla:

Mes | Ventas |  Gastos
----|---------|--------
Enero |  30500  | 22000
Febrero  | 35600|  23450
Marzo |  28300 |  18100
Abril |  33900 |  35700
Mayo |  42500 |  32450

A continuación, generar nuevas columna:
1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”, caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto>Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [1]:
import pandas as pd

In [2]:
# Crear el DataFrame con los datos de la tabla
data = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
    'Ventas': [30500, 35600, 28300, 33900, 42500],
    'Gastos': [22000, 23450, 18100, 35700, 32450]
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df['Columna 1'] = (df['Gastos'] / df['Ventas']) * 100

In [5]:
df.loc[df['Ventas'] >= 30000, 'Columna 2'] = 'Meta Superada'
df.loc[df['Ventas'] < 30000, 'Columna 2'] = 'Meta no Superada'

In [6]:
df['Columna 3'] = df['Gastos'] - df['Ventas']
df.loc[df['Columna 3'] <= 0, 'Columna 3'] = 0

In [8]:
total_ventas_ultimos_3_meses = df['Ventas'].tail(3).sum()
total_ventas_ultimos_3_meses

104700

In [9]:
total_gastos_febrero_abril = df.loc[1:3, 'Gastos'].sum()
total_gastos_febrero_abril

77250

In [10]:
print(df)

       Mes  Ventas  Gastos   Columna 1         Columna 2  Columna 3
0    Enero   30500   22000   72.131148     Meta Superada          0
1  Febrero   35600   23450   65.870787     Meta Superada          0
2    Marzo   28300   18100   63.957597  Meta no Superada          0
3    Abril   33900   35700  105.309735     Meta Superada       1800
4     Mayo   42500   32450   76.352941     Meta Superada          0